body {
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
    color: black;
}

.toolbar {
    color: white;
    background-color: #526E9C;
}

.menu {
    color: black;
    background-color: #E5E5E5;
}


.container {
    margin-top:1%;
    padding-top: 10px;
}

.tile {
    position: relative;
    font-size: 50px;
    cursor: default;
    width: 48.5%;
    margin-left: 1%;
    margin-top: 1%;
    height: 42.5vh;
}

.view {
    overflow: auto;
    padding-top: 3px;
    height: 87vh;
}

.slider paper-slider::shadow #sliderKnobInner,

.slider paper-slider::shadow #sliderKnobInner::before,

.slider paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: DimGray;
}
    
ratingsLabel {
  padding-left: 5px;
  color: DimGray;
  font-size: 1.5em;
}


paper-slider {
  width: 250px;
}

section .slider {
  vertical-align: middle;
  padding: 20px 0;
  display: inline-flex;
}

.list.core-selected {
    display: block;
}

core-overlay-layer {
  background-color: white;
  width: 70%;
  alignment-baseline: central;
  left: 15%;
  font-size: 0.7em;
  margin:0;
  padding:0;
}

#main {
  padding:5px;
}

core-item {
  width: 300px;
}

core-item.small {
  font-size: 9px;
}


core-icon {
  margin: 0 4px 0 4px; 
  width: 24px;
  height: 24px;
}

core-icon-button {
  color: white;
}

.image {
  padding: 0px;
}


html /deep/ div[fit] {
  border-radius: 50px;
  width: 56px;
  height: 56px;
}

paper-item {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

.constrained-height {
  height: 150px;
}

.colored {
  color: #0f9d58;
}

.dropdown.colored::shadow #ripple,
.dropdown.colored::shadow #background {
  border: 1px solid #0f9d58;
  background-color: #b7e1cd;
}

html /deep/ core-collapse {
  border: 0px solid #ccc;
  padding: 8px;
}

 paper-checkbox {
      padding: 20px 20px 20px 0;
    }
    0
section {
  width: 300px;
}

paper-checkbox.blue::shadow #ink[checked] {
  color: #4285f4;
}

paper-checkbox.blue::shadow #checkbox.checked {
  border-color: #4285f4;
}

a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}

paper-button {
  background-color: #526E9C;
  margin-top: 3%;
}
