extends layout
block main
 core-drawer-panel(forceNarrow,id="drawerPanel")
  core-header-panel(main,mode="waterfall")
   core-toolbar(class="toolbar")
    a(href="/")
     paper-icon-button(id="back",icon="arrow-back")
    span(flex) Paramètres
   div(horizontal,flex,center-justified,layout)
    a(href="/clearcache")
     paper-button(raised) Vider le cache
