extends layout
block main
 core-scaffold(disableSwipe)
  core-header-panel(navigation,flex,waterfall)
   core-toolbar
    span Menu
   core-menu
    core-item(icon="settings",label="Parametres")
    core-item(icon="help",label="Aide")
  div(tool) Jarvis
  div(class="content)
   If drawer is hidden, press button to display drawer.
